@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

:root {
    --primary-color: #424874;
    --secondary-color: #738290;
    --grey-color: #d6d6d6;
    --text-color: #313638;
    --light-color: #fffcf7;
    --danger-color: #fe5f55;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-color);
}

p,
b,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}

.white {
    color: var(--light-color);
}

.p1 {
    padding: 8px;
}

.p2 {
    padding: 16px;
}

.p3 {
    padding: 24px;
}

.pb3 {
    padding-bottom: 24px;
}

.pl3 {
    padding-left: 24px;
}

.pr3 {
    padding-right: 24px;
}

.pt3 {
    padding-top: 24px;
}

.center-container {
    width: 80%;
    min-width: 800px;
    margin: auto;
}

.flex-row-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gap1 {
    gap: 8px;
}

.gap2 {
    gap: 16px;
}

.flex-column-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.center {
    align-items: center;
}

.headline-4 {
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
}

.headline-6 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.card {
    background-color: var(--light-color);
    box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.14),
        0px 3px 16px rgba(0, 0, 0, 0.12), 0px 5px 6px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.card,
.card-container {
    height: 200px;
}

.tooltip {
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 12px;
}

.cards-grid {
    padding-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 200px);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    justify-items: stretch;
}

#header {
    left: 0px;
    top: 0px;
    background-color: var(--primary-color);
}

#header,
#header-container {
    height: 80px;
}

#description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: normal;
}
